   /* media queries */

/* mobile devices */
@media only screen and (max-width: 688px) {
   .container {
      width: 334px;
      margin: 0 auto;
   }
   .banner {
      display: flex;
      border-radius: 10px;
      background: #161616;
      width: 334px;
      height: 472px;
      margin: 44px 20px 24px 21px;
      flex-direction: column;
      align-content: center;
   }
  .banner-info h2 {
      color: #FFF;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-size: 22px;
      font-weight: 700;
      line-height: 33px;
      margin: 28px 53px 8px 53px;
   }

   
   .banner-info p {
      color: #FFF;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      line-height: 24px;
      /* margin-left: 106px; */
      margin: 0 38px 16px 38px;
  }

  .banner-info p br {
      display: none;
  }

   
   .banner-info p .text {
      display: none;
   }

   .btn {
      display: inline-flex;
      padding: 8px 12px;
      align-items: flex-start;
      gap: 10px;
      border-radius: 5px;
      background: #D00;
      color: #FFF;
      text-align: center;
      font-family: HelveticaNeue;
      font-size: 20px;
      font-weight: 400;
      margin-top: 0;
      margin-left: 87px;
      margin-bottom: 21px;
      margin-right: 86px;
      align-content: center;
      justify-content: center;
   }
  .banner-img img {
      width: 233px;
      height: 245px;
      padding: 0 38px 0 63px;
   }

   /* blogs section */
   .container {
      width: 100%;
      margin: 0 auto;
  }
   .blogs-section {
      display: block;
      margin-top: 0 ; 
  }
  .blogs-section aside {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      background: none;
      height: auto;
   }
   .blogs-section aside a:nth-child(1) {
      padding: 9px 18px;
      border-radius: 10px;
      line-height: normal;
      border: 1px solid #E8E8E8;
      background: #FFF;
      margin-bottom: 16px;
      margin-top: 0;
   }

   .blogs-section aside a:nth-child(2) {
      line-height: 30px;
      padding: 9px 33px;
      border-radius: 10px;
      border: 1px solid #E8E8E8;
      background: #FFF;
      margin: 0 0 16px 0;
   }
   .blogs-section aside a:nth-child(3) {
      line-height: 30px;
      padding: 11px 59px;
      background: #D00;
      color: #FFF;
      font-size: 18px;
      margin-bottom: 24px;
   }

   .blogs {
      display: grid;
      /* grid-template-columns: repeat(1, 1fr); */
      grid-template-columns: 335px;
      grid-row-gap: 16px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 24.31px;
   }

   .blog:nth-child(7),
   .blog:nth-child(8),
   .blog:nth-child(9) {
      display: none;
   }

   .blog-banner img {
      width: 335px;
      height: 187.901px;
   }

   .blog-btn {
      color: #161616;
      font-family: 'Poppins', sans-serif;
      font-size: 17.179px;
      font-weight: 500;
      line-height: 26px;
      padding: 4.29px 17.12px 4.06px 18.25px;
      border-radius: 5.369px;
      border: 1px solid #161616;
      display: inline-block;
      margin: 21.47px 206.15px 16.11px 21.47px;
      cursor: pointer;
   }
   .blog-title {
      color: #161616;
      font-family: 'Poppins', sans-serif;
      font-size: 18.768px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      margin: 0 21.47px 24.53px 21.47px;
   }

   .blog-info span {
      color: rgba(22, 22, 22, 0.70);
      font-family: 'Poppins', sans-serif;
      font-size: 17.179px;
      font-style: normal;
      font-weight: 400;
      line-height: 27.917px;
      margin-right: 32.13px;
   }

   .blog-info span i {
      margin: 0 0 22.55px 21.47px;
      padding-right: 10px;
  }

   .blog-btn-two {
      display: none;
   }

  /* footer section styles  */
  footer {
   background: #161616;
}
   footer h1 {
      color: #FFF;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-size: 22px;
      font-style: normal;
      padding-top: 24px;
      padding-bottom: 24px;
      font-weight: 600;
      margin: 0;
      line-height: 33px;
   }
   hr {
      border: 1px solid #ffffff;
      margin: 0 20px 24px 20px;
      width: 335px;
      background: rgba(255, 255, 255, 0.10);
   }

   footer ul {
      display: flex;
      justify-content: center;
      padding-top: 0;
      padding-bottom: 7px;
      gap: 10px;
      margin: 0;
      flex-direction: column;
      align-items: center;
   }
   .service a {
      text-decoration: none;
      color: #B9B9B9;
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 50px;
      margin-right: 49px;
      margin-left: 9px;
      font-feature-settings: 'clig' off, 'liga' off;
   }

   .social-icons i {
      padding: 10px;
      margin-top: 15px;
      margin-bottom: 35px;
      font-size: 20px;
      cursor: pointer;
   }
}

/* Tablet devices */
@media only screen and (min-width:688px) and  (max-width:992px) {
   /* banner section  */
   .banner {
      display: flex;
      border-radius: 30px;
      background: #161616;
      width: 1321px;
      width: 734px;
      height: 398px;
      margin: 50px 50px 70px 50px;
  }
  .banner-info h2 {
      color: #FFF;
      font-family: 'Poppins', sans-serif;
      font-size: 40px;
      font-weight: 700;
      width: 289px;
      line-height: 50px;
      margin: 61px 29px 10px 76px;
   }
   .banner-info p {
      color: #FFF;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      margin-left: 76px;
      width: 316px;
      margin-bottom: 0;
  }
  .banner-info p br {
   display: none;
  }
  .banner-info p .text {
      display: none;
   }
   .banner-info p br:first-child {
      display: none;
   }
   .btn {
      display: inline-flex;
      padding: 12px;
      align-items: flex-start;
      gap: 10px;
      color: #FFF;
      text-align: center;
      font-family: HelveticaNeue;
      font-size: 20px;
      border-radius: 5px;
      background: #D00;
      font-weight: 400;
      margin-top: 32px;
      margin-left: 76px;
      margin-bottom: 61px;
   }

  .banner-img img {
      width: 323px;
      height: 340px;
      flex-shrink: 0;
      padding: 58px 17px 0 2px;
   }

   /* blogs section  */
   .container {
      width: 100%;
      margin: 0 auto;
  }
   .blogs-section {
      display: block;
      margin-top: 70px;
      justify-content: center;
  }
  .blogs-section aside {
      display: flex;
      flex-direction: row;
      width: 734px;
      border-radius: 10px;
      background: none;
      height: auto;
      margin: 70px 50px 30px 50px;
      align-content: flex-start;
      align-items: center;
   }

   .blogs-section aside a:nth-child(1) {
      padding: 17px 28px;
      border-radius: 10px;
      line-height: normal;
      border: 1px solid #E8E8E8;
      background: #FFF;
      margin: 0;
  }

  .blogs-section aside a:nth-child(2) {
      line-height: 30px;
      padding: 17px 68px;
      border-radius: 10px;
      border: 1px solid #E8E8E8;
      background: #FFF;
      margin: 0 22px 0 22px;
   }
   .blogs-section aside a:nth-child(3) {
      line-height: 30px;
      padding: 17px 92px;
      background: #D00;
      color: #FFF;
      margin: 0;
  }
  .blogs {
      display: grid;
      /* grid-template-columns: repeat(2, 1fr); */
      grid-template-columns: 357px 357px;
      grid-column-gap: 20px;
      grid-row-gap: 19.79px;
      margin-left: 50px;
      margin-bottom: 0;
   }

   .blog-banner img {
      width: 357px;
      height: 200.24px;
   }

  .blog-btn {
      color: #161616;
      font-family: 'Poppins', sans-serif;
      font-size: 18.308px;
      font-weight: 500;
      line-height: 27px;
      padding: 4.58px 18.97px 5.04px 19.45px;
      display: inline-block;
      margin: 22.88px 219.69px 17.16px 22.88px;
      cursor: pointer;
      border-radius: 5.721px;
      border: 1.144px solid #161616;
   }
   .blog-title {
      color: #161616;
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px;
      margin: 5.04px 22.88px 25.82px 22.68px;
   }
  .blog-info span i {
      margin: 0 0 24.03px 22.88px;
      padding-right: 10px;
   }

   .blog {
      border-radius: 11.442px;
      border: 1.144px solid #E8E8E8;
   }

   .blog:nth-child(7),
   .blog:nth-child(8),
   .blog:nth-child(9) {
      display: none;
   }

   .blog-btn-two {
      display: flex;
      width: 131px;
      margin: 0 auto;
      margin-top: 50px;
      padding: 12px 29px;
      color: #FFF;
      font-family: HelveticaNeue;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 5px;
      background: #D00;
      justify-content: center;
      cursor: pointer;
   }

   footer {
      background: #161616;
      margin-top: 69.79px;
  }

  /* footer section  */
   footer h1 {
      color: #FFF;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-size: 40px;
      font-style: normal;
      padding-top: 70px;
      padding-bottom: 30px;
      font-weight: 600;
      margin: 0;
      line-height: 60px;
   }
   hr {
      border: 1px solid #ffffff;
      margin: 0 auto;
      width: 734px;
   }
   footer ul {
      display: flex;
      justify-content: center;
      padding-top: 30px;
      padding-bottom: 55px;
      margin: 0;
   }
   
   .service a {
      text-decoration: none;
      color: #B9B9B9;
      font-family: 'Poppins', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 50px;
      margin-right: 15px;
      margin-left: 13px;
  }

  .social-icons i {
      padding: 10px;
      margin-top: 15px;
      margin-bottom: 45px;
      font-size: 25px;
      cursor: pointer;
   }

}
